.ev{
    margin-left: 30px;
}

.carIMG{
    margin-left: 55px;
    display: flexbox;
}

.image{
    height: 500px;
    width: 800px;
}

.description{
    padding-left: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}

.information{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 55px;
    width: 800px;
    height: 366px;
}

.information-second{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 55px;
    width: 800px;
    height: 366px;
    margin-top: 120px;
}

.data{
    text-wrap: wrap;
}

.kmhp{
    display: flex;
}

.section{
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
}

.init{
    display: flexbox;
}

.information{
    display: flexbox;
}