.ev{
    margin-left: 30px;
    scroll-behavior: smooth;
}

.carIMG{
    margin-left: 55px;
    display: flexbox;
}

.image{
    height: 500px;
    width: 800px;
    border-radius: 45px;
    filter: drop-shadow(10px 6px 6px #fff);
}

.description{
    padding-left: 50px;
    color: white;
    font-family: cursive;
    font-size: 45px;
    text-shadow: 
    0 0 7px #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.information{
    color: white;
    font-family: cursive;
    margin-left: 55px;
    width: 800px;
    height: 366px;
    text-shadow: 
    0 0 7px #fff;
    margin-bottom: 75px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.information-second, .information-third, .information-four, .information-five{
    color: white;
    font-family: cursive;
    margin-left: 55px;
    width: 800px;
    height: 366px;
    text-shadow: 
    0 0 7px #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.data{
    text-wrap: wrap;
}

.kmhp{
    display: flex;
}

.section{
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
}

.init{
    display: flexbox;
}

.information{
    display: flexbox;
}

@media screen and (max-width:1020px){

    .section{
        flex-direction: column;
    }
    .image{
        width: 350px;
        height: 200px;
        margin-right: 40px;
        margin-top: 30px;
    }

    .ev{
        margin-left: 0;
    }
    .carIMG{
        margin-left: 22px;
    }
    .description{
        font-size: 30px;
        width: 350px;
    }
    .kmhp{
        flex-direction: column;
    }
    .section{
        flex-direction: column;
    }

    .description{
        padding-left: 22px;
    }

    .information{
        margin-left: 22px;
        width: 350px;
        height: auto;
        font-size: 15px;
        margin-bottom: 0px;
    }

    .information-second{
        margin-left: 22px;
        height: auto;
        font-size: 15px;
        width: 350px;
    }

    .title{
        text-align: center;
    }
}